/*
*
*
*    Autor: Adrián Heras Reche
*
*    Fecha de creación: 12/11/2019
*
*    Última actualización: 12/11/2019
*
*
*
* ==========================================
* CSS personalizado
* ==========================================
*
*
*
*
*   Color primario:                     #00B49A
*   Color resaltado primario:           #00957f
*   Color secundario:                   #393946
*   Color resaltado secundario:         #515160
*   Color terciario:                    #F0F0F0
*   Color de fondo:                     #FAFAFA
*   Texto sobre oscuro:                 #FFFFFF
*   Texto sobre claro:                  #000000
*
*/

/*                 Cuadrados centrales                     */

.dashboard {
    margin-left: -1em;
    padding: 0 1em;
}

.informacionCentral div.col-4 {
    padding: 2em;
    margin-top: 2em;
}

.cuadradoCentral {
    background-color: #00B49A;
    padding: 1em;
    color: #FFFFFF;
    height: 10em;
    text-align: right;
    border-radius: 5px;
}

.cuadradoCentral div {
    height: 2em;
}

.cuadradoCentral p {
    text-align: left;
}

span.numero {
    display: inline-block;
    margin-top: 1em;
    margin-right: 0.5em;
    font-size: 32px;
}

/*                 Tabla de últimas medidas                     */

.tabla {
    padding: 2em;
}

.tabla p {
    font-size: 32px;
}